<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html>
    <body>
        <form action='/ 'method='post'>
            <input placeholder='Context' name='context'>
            <input placeholder='Refcard', name='refcard'>
            <input type='submit' value='Submit'>
        </form>
        {% for refcard in refcards %}
        <div class="shadowbox"><p>{{ refcard[1] + ":" }}</p>
        <p>{{ refcard[2] }}</p></div>
        {% endfor %}
    </body>
</html>
